{% extends 'layout.html.twig' %} {% block title %}{{ parent()}} 
 {%endblock %} {% block content %}

<div class="container" style="width: 70%">
     <br /><br />


{{ (app.request.get('_route') == 'ajout_voiture') ? '<h1>Ajouter un véhicule</h1>' : '<h1>Modifier un véhicule</h1>'}}




    {# {% if ('<a href="{{ path("update_car")}}">') == true %}
        <h1 class="text-success">Modifier la fiche</h1>
          {% endif %}
    {% if ('<a href="{{ path("ajout_voiture")}}">') == true %}
        <h1 class="text-success">Ajouter une fiche voiture</h1>
     {% endif %}   #}

       <br /><br />
  {{ form(formVehicule) }}
  
</div>

{% endblock %}

 {% block final_js %} 
  {# dropify script #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src=" {{ asset("dropify/dist/js/dropify.min.js") }}"></script>
        <script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify();
    
                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });
    
                // Used events
                var drEvent = $('#input-file-events').dropify();
    
                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });
    
                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });
    
                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });
    
                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
  {% endblock %}
