{% extends 'layout.html.twig' %} {% block title %}{{ parent()}}  {%
endblock %} {% block content %}

<div class="container" style="width: 70%">
     <br /><br />

     {% if ('<a href="{{ path("update_car")}}"></a>') == true %}
        <h1 class="text-success">Modifier la fiche</h1>
     {% else %}
     <h1 class="text-success">Ajouter une fiche voiture</h1>
     {% endif %}

       <br /><br />
  {{ form_start(formVehicule) }}
  {{ form_row(formVehicule.photo) }}
  {{ form_end(formVehicule) }}
</div>

{% endblock %}